.btn-success {
    & .fa-check {
        color: #fff;
    }
}

.save-btn {
    color: #fff !important;
}

.pointer {
    cursor: pointer;
}

@media(max-width: 480px) {
    .card {
        margin-bottom: 30px;
    }
}