<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <h5 class="card-title">Your Categories</h5>
              </div>        
              <div class="card-body">
                <ul class="list-group">
                  <li *ngFor="let cat of categories$ | async" class="list-group-item">
                    {{ cat }}
                    <i class="fa fa-close text-danger pull-right" 
                    (click)="removeCategory(cat)"
                    title="Delete Category"></i>
                  </li>
                </ul>
  
                <hr *ngIf="(categories$ | async)?.length > 0">
                
                <form #categoryForm="ngForm" (submit)="addCategory(categoryForm)">
                    <div class="form-group">
                        <label for="category">New Category</label>
                
                        <input type="text" 
                        class="form-control" 
                        [(ngModel)]="category"
                        id="category"
                        name="category"
                        placeholder="category"
                        required>          
                    </div>   
                
                  </form>
              </div>
            </div>
      </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Info About You</h5>
        </div>
        <div class="card-body">          
              <h6>Username:</h6>
              <div *ngIf="!editUserNameMode">
                {{ user?.userName }}
                <i class="fa fa-pencil text-warning pull-right pointer" 
                    (click)="editProperty('userName')"
                    title="Edit Username"></i>
              </div>
              <div class="input-group" *ngIf="editUserNameMode">
                    <input type="text" 
                          class="form-control" 
                          id="userName" 
                          name="userName"
                          [(ngModel)]="user.userName">
              
                  <div class="input-group-append">
                    <a class="btn btn-success btn-sm" (click)="editProperty('userName')">
                          <i class="fa fa-check pointer"></i>
                    </a>
                  </div>
               </div>
              <hr>
              <h6>Email:</h6>
              <div *ngIf="!editEmailMode">
                {{ user?.email }}
                <i class="fa fa-pencil text-warning pull-right pointer"
                    (click)="editProperty('email')"
                    title="Edit Email"></i>
              </div>
              <div class="form-group" *ngIf="editEmailMode">
                  <input type="email" 
                        class="form-control" 
                        id="email" 
                        name="email"
                        [(ngModel)]="user.email">
               
             </div>
             <div class="form-group" *ngIf="editEmailMode">
               <label for="passsword">Enter your password:</label>
                <input type="password" 
                      class="form-control" 
                      id="passsword" 
                      name="password"
                      placeholder="Password..."
                      [(ngModel)]="password">
             </div>
             <button class="btn btn-success btn-sm save-btn"  *ngIf="editEmailMode" (click)="editProperty('email')">
                <i class="fa fa-check"></i> 
            </button>
            <button class="btn btn-default btn-sm"  *ngIf="editEmailMode" (click)="editProperty('email')">
                <i class="fa fa-times"></i>                
            </button>
        </div>
      </div>
    </div>
   
  </div>
</div>

